#portlet-template {
	display: none;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.chart {
	width: 290px;
	height: 230px;
	float: left;
}

.column {
	width: 312px;
	float: left;
}

.portlet {
	width: 298px;
	margin: 4px 2px;
	padding: 3px;
}

.portlet-big {
	width: 100%;
	height: 100%;
	margin: 4px 2px;
	padding: 3px;
}

.portlet-header {
	padding-left: 4px;
}

.portlet-header .ui-icon {
	float: right;
}

.portlet-content {
	width: 340px;
	height: 230px;
	margin: 4px;
}

.portlet-content-big {
	width: 100%;
	height: 95%;
	margin: 4px;
	overflow:hidden;
}

.ui-sortable-placeholder {
	border: 1px dotted lightgray;
	visibility: visible !important;
	height: 10px !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

#logo {
	float: right;
	top: 0;
	width: 311px;
	height: 43px;
	background: url("../images/voxeolabs-40h.png") no-repeat 0 0;
}

